[Unit]
Description=Shutdown Raspi via push button
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/intershop/shutdown/shutdown.py &

[Install]
WantedBy=multi-user.target