[Unit]
Description=Shutdown Raspi via push button
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/intershop/scripts/shutdown/shutdown.py &

[Install]
WantedBy=multi-user.target